@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  background-color: #222;
  color: #fff;
  width: 240px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  align-items:center ;
}

h1 {

  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  
}

input[type="text"] {
  text-align: center;
  width: 70%;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
}

button {
  
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

button:hover {
  background-color: #333;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.sucess {
  color: rgb(4, 255, 4);
  font-size: 14px;
  margin-top: 10px;
}

.result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}

.result-content {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
